body {
  margin: 0;
  background: #e6e6e6;
  font-family: Arial, Helvetica, sans-serif;
}

/* This is the header div */
.header {
  background: #0066CC;
  color: white;
  padding: 1rem;
  font-size: 1.5rem;
}

.header > .item {
  color: yellow;
}

.content-wrapper {
  padding: 3rem;
}

.button.success {
  border: 0;
  padding: 0.7rem;
  background: green;
  color: white;
  border-radius: 1rem;
  font-size: 1.2rem;
}

.button.success:hover {
  background: lightgreen;
}

.button.success:active {
  background: darkgreen;
}

.button.success:disabled {
  background: lightgreen;
}

.list {
  font-weight: bold;
}

.task.list {
  /*background: lightseagreen;*/
  list-style: none;
}

.task.list li {
  font-size: 1.2rem;
}

.task.list li .btn {
    margin-left: 1rem;
}

.task-edit-wrapper {
  padding-top: 1rem;
}

.task-form.invalid {
  border: 3px solid red;
}

.task-form.valid {
  border: 3px solid green;
}

/*.task-input {*/
    /*padding: 0.5rem;*/
    /*font-size: 1.2rem;*/
/*}*/